
body {
    background-image: url("images/football_1920.jpg");
    background-size: cover;
    height: 100vh;

}
/*FOR CENTER PLACEHOLDER*/
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}
/************************/

.error {
    margin-top: 25px;
}

.welcome {
    text-align: center;
    margin: 30px auto;
    color: black;
    border: solid 1px #5a5a5a;
    border-radius: 5px;
    background-color: lightgrey;
    opacity: 0.85;
}

.list-container {
    text-align: center;

    margin: 30px auto;
    color: black;
    border: solid 1px #5a5a5a;
    border-radius: 5px;
    background-color: lightgrey;
    opacity: 0.85;
}

.list-header-row {
    border-radius: 5px;
    font: bold 1.3rem Arial;
    background-color: white;
    border: solid 1px #5a5a5a;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row {
    margin: 5px;
    padding: 2px 0 2px 0;
}

.form-container {
    background-color: lightgrey;
    text-align: center;
    margin: 30px auto 15px;
    color: black;
    border: solid 1px #5a5a5a;
    border-radius: 5px;
    opacity: 0.85;
}

.form-row-container {
    border-radius: 5px;
    font: bold 1.3rem Arial;
    background-color: #e5dda8;
    border: solid 1px #5a5a5a;
    margin: 35px 0;
    padding: 2px 0 2px 0;
}

select {
    text-align-last: center;
}

input {
    text-align: center;
}

.form-row-container label{
    padding: 10px 10px;
    margin: 5px 5px;
}

.form-control {
    padding: 5px 5px;
    margin: 5px 5px;
    height: calc(1.5em + 1rem + 2px);
}

.text-danger {
    line-height: 0;
    font-weight: bold;
}

.form-row-buttons {
    position: center;
    margin-bottom: 15px;
}
.find-row {
    margin: -15px auto;
}

.find-row {
    margin: -15px auto;
}

.find-button{
    position: center;
    margin: 7px 0;
}
