<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>

<header th:replace="fragments :: navigator"></header>
<div class="container">
    <div class="welcome col-md-12">
        <h1>Witaj w przeglądzie nagłówków Polskiej Prasy!</h1>
    </div>
</div>

</body>
<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: footerscripts"></div>
</html>
