<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Technologie</title>
    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body class="technology">
<header th:replace="fragments :: navigator"></header>

<div class="container">
    <div class="row" th:each="article : ${technologiesArticles}">
        <div class="card col-md-12 mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img" th:if="${article.getImageUrl() == null}" th:src="@{/images/newspaper_640.jpg}" alt="Card image cap">
                    <img class="card-img" th:unless="${article.getImageUrl() == null}" th:src="${article.getImageUrl()}" alt="Card image cap">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-date" th:text="${#temporals.format(article.getPublicationDate(), 'dd-MM-yyyy HH:mm')}"></p>
                        <h5 class="card-title" th:text="${article.getTitle()}">Card title</h5>
                        <p class="card-text" th:text="${article.getDescription()}"></p>
                        <a th:href="${article.getUrl()}" class="btn btn-primary stretched-link">Więcej</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12 justify-content-center" style="margin-top: 15px">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:if="${technologiesArticles.getNumber() > 0}">
                    <a class="page-link" th:href="@{/news/technologies(page=${technologiesArticles.getNumber() - 1}, size=${technologiesArticles.getSize()})}">Previous</a>
                </li>
                <li class="page-item" th:each="number : ${#numbers.sequence(technologiesArticles.getNumber() - 3, technologiesArticles.getNumber() - 1)}"
                    th:if="${number >= 0}">
                    <a class="page-link" th:href="@{/news/technologies(page=${number}, size=${technologiesArticles.getSize()})}" th:text="${number + 1}"></a>
                </li>
                <li class="page-item" th:each="number : ${#numbers.sequence(technologiesArticles.getNumber(), technologiesArticles.getNumber() + 3)}"
                    th:if="${number <= technologiesArticles.getTotalPages()-1}">
                    <a class="page-link" th:href="@{/news/technologies(page=${number}, size=${technologiesArticles.getSize()})}" th:text="${number + 1}"></a>
                </li>
                <li class="page-item" th:if="${technologiesArticles.getNumber() < technologiesArticles.getTotalPages() - 1}">
                    <a class="page-link" th:href="@{/news/technologies(page=${technologiesArticles.getNumber() + 1}, size=${technologiesArticles.getSize()})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: footerscripts"></div>
</body>
</html>
